{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
        "airbnb-typescript"

    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "class-methods-use-this": "off",
        "no-labels": 0,
        "no-restricted-syntax": 0,
        "no-console": "off",
        "no-unused-expressions": "off",
        "no-underscore-dangle": "off",
        "no-param-reassign": "off",
        "object-curly-newline": "off",
        "import/prefer-default-export": "off",
        "import/no-mutable-exports": 0,
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "implicit-arrow-linebreak": "off",
        "array-callback-return":"off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    }
}